:root {
  background-color: #242424;
}

div {
  display: flex;
  justify-content: center;
}

figcaption {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.9em;
  border: 1px solid;
  border-radius: 2em;
  padding: 0.5em;
}

.card {
  width: 200px;
  padding: 1rem;
  background-color: rgb(25, 168, 113);
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px gray;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: inherit;
  box-shadow: inherit;
}
